# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules/
dist/
dist-ssr/
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
venv/*
.venv/
.env/
.env.local
.env.production
.env


#database files
*.db
*.sqlite

#editor folders
.vscode/
.idea/
.DS_Store

#Logs
*.log
npm-debug.log*

#vite
*.local

# other
*.sln
*.sw?
*.ntvs*
*.njsproj

#documentation
.BACKED_GUIDE.md
src/.env
